*{
    margin: 0px;
}
.parent{
    width: 30%;
    height: 300px;
    margin: 0 auto;
    border: 2px solid rgb(83, 189, 241);
}
#child{
    height: 200px;
    margin: 30px;
    border: 2px solid rgb(83, 189, 241);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btn{
    margin: 15px;
}
.completed{
    text-decoration: line-through;
}


.parentDiv {
    display: flex;
  }
  
  .child {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* align-items: stretch;  */
    padding: 10px;
    background-color: #f0f0f0; /* Background color for child div */
    box-sizing: border-box;
    max-height: 100%; /* Limit the maximum height to parent's height */
    overflow: hidden;
  }
  
  h3 {
    background-color: #3498db; /* Background color for headers */
    padding: 10px;
    margin: 0;
  }
  
  p {
    flex: 1;
    padding: 10px;
    background-color: #e74c3c; /* Background color for paragraphs */
    margin: 0;
  }
  