*{
    margin: 0px;
}
.parent{
    width: 30%;
    height: 300px;
    margin: 0 auto;
    border: 2px solid rgb(83, 189, 241);
}
#child{
    height: 200px;
    margin: 30px;
    border: 2px solid rgb(83, 189, 241);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btn{
    margin: 15px;
}
.completed{
    text-decoration: line-through;
}